# Python Data Types

## 1. Numbers

In [1]:
num_int = 100

In [2]:
type(num_int)

int

In [3]:
bin(10)

'0b1010'

In [4]:
oct(10)

'012'

In [5]:
hex(10)

'0xa'

In [6]:
num_float = 12.345

In [7]:
type(num_float)

float

In [8]:
import math

In [9]:
math.pi

3.141592653589793

In [10]:
math.e

2.718281828459045

In [11]:
num_complex = 3 + 0.45j

In [12]:
type(num_complex)

complex

In [13]:
num_complex.real

3.0

In [14]:
num_complex.imag

0.45

In [15]:
5//2

2

In [16]:
2**(2**2)

16

In [18]:
num_complex_2 = num_complex + (1+2j)

In [19]:
num_complex_2

(4+2.45j)

# 2. String (문자열)

In [21]:
str_1 = 'Hello World'

In [22]:
str_1

'Hello World'

In [23]:
type(str_1)

str

In [25]:
mysql_Query = """SELECT var1, count(*) as cnt
    FROM mytable
    WHERE var1 = 'aaa'
    GROUP BY var1
    ORDER BY var1
"""

In [26]:
mysql_Query

"SELECT var1, count(*) as cnt\n    FROM mytable\n    WHERE var1 = 'aaa'\n    GROUP BY var1\n    ORDER BY var1\n"

In [27]:
a = 'Hello World'

In [28]:
print(a)

Hello World

In [29]:
a[1]

'e'

In [31]:
a[1:4]

'ell'

In [32]:
a[1:]

'ello World'

In [33]:
a[0:5]

'Hello'

In [34]:
a[0:3]

'Hel'

In [35]:
a[-1]

'd'

In [38]:
# concatenate
a + '  I love You'

'Hello World  I love You'

In [40]:
# repetition of a string
a*3

'Hello WorldHello WorldHello World'

# 문자열 메소드

In [51]:
# length of a string: len()
len('가나다')

9

In [45]:
len('I love python')

13

In [46]:
# minimun: min(), maximun: max()
d='abcd'
f='1234'

In [47]:
min(d)

'a'

In [48]:
max(d)

'd'

In [49]:
min(f)

'1'

In [50]:
max(f)

'4'

In [54]:
# count how many times str occurs in a string
a = 'I love Python'
a.count('o')

2

In [55]:
a.count('o', 7, len(a))

1

In [56]:
len(a)

13

In [62]:
# startswith() : Determines if string or a substring of string
a = 'i love python'
a.startswith('i love')

True

In [63]:
a.startswith('You')

False

In [64]:
# endswith()
a.endswith('n')

True

In [65]:
a.endswith('i')

False

In [66]:
# find()
a.find('o')

3

In [67]:
a.find('k')

-1

In [68]:
# rear find
a.rfind('o')

11

In [69]:
a.index('o')

3

In [70]:
# ValueError
a.index('k')

ValueError: substring not found