# 1. Python Dictionary Functions

In [6]:
# len(dict): 사전의 총 길이 (total length of Dictionary)
dict_1 = {'name' : 'Python Friend', 
         'region' : 'Seoul, Korea',
         'phone' : '010-123-9876',
         'age' : 30,
         'name' : 'R Friend'}
dict_1

{'age': 30,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [12]:
dict_1['region']

'Seoul, Korea'

In [7]:
len(dict_1)

4

In [20]:
#string representation of dictionary
mystr = str(dict_1)

In [21]:
mystr

"{'phone': '010-123-9876', 'name': 'R Friend', 'age': 30, 'region': 'Seoul, Korea'}"

In [27]:
# type: returns the type of the pass variable
type(dict_1)

dict

In [26]:
type(mystr)

str

# 2. Python Dictionary Methods

In [34]:
# dict.keys()
dict_2 = {'key1': 123,
         'key2' : 'abc',
         'key3' : (1, 2, 3)}

dict_2

{'key1': 123, 'key2': 'abc', 'key3': (1, 2, 3)}

In [35]:
dict_2.keys()

dict_keys(['key2', 'key3', 'key1'])

In [38]:
# dict.values()
dict_2.values()

dict_values(['abc', (1, 2, 3), 123])

In [42]:
# dict.items()
dict_2.items()

dict_items([('key2', 'abc'), ('key3', (1, 2, 3)), ('key1', 123)])

In [43]:
#dict.clear()
dict_2.clear()
dict_2

{}

In [44]:
# dict.copy()
dict_3 = dict_1.copy()
dict_3

{'age': 30,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [45]:
dict_1

{'age': 30,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [46]:
dict_4 = dict_1
dict_4

{'age': 30,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [47]:
dict_1['age'] = 40
dict_1

{'age': 40,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [48]:
dict_3

{'age': 30,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [49]:
dict_4

{'age': 40,
 'name': 'R Friend',
 'phone': '010-123-9876',
 'region': 'Seoul, Korea'}

In [52]:
# dict.fromkeys(seq, value)
seq = ('key1', 'key2', 'key3')
dict = dict.fromkeys(seq)

In [53]:
dict

{'key1': None, 'key2': None, 'key3': None}

In [57]:
dict_4 = dict.fromkeys(seq, 123)

In [58]:
dict_4

{'key1': 123, 'key2': 123, 'key3': 123}

In [62]:
# dict.get(Key, default=None)
dict_2 = {'key1' : 123,
         'key2' :  'abc',
         'key3' : (1, 2, 3)}
dict_2

{'key1': 123, 'key2': 'abc', 'key3': (1, 2, 3)}

In [63]:
dict_2.get('key1', '키 없어')

123

In [64]:
dict_2.get('key5', '키 없어')

'키 없어'

In [66]:
dict_2.get('key5')

In [68]:
#dict.update()
dict_5 = {'key1' : 12,
         'key2' : 34}
dict_6 = {'key3' : 56}

In [69]:
dict_5

{'key1': 12, 'key2': 34}

In [70]:
dict_5.update(dict_6)
dict_5

{'key1': 12, 'key2': 34, 'key3': 56}