# Python Tuple

In [9]:
# 1. Making a Tuple
tuple_1 = ('ABC', 123, 3.14, ['edf', 456], ('gh', 'st'))
tuple_1

('ABC', 123, 3.14, ['edf', 456], ('gh', 'st'))

In [2]:
type(tuple_1)

tuple

In [3]:
tuple_2 = 'ABC', 123, 3.14, ['edf', 456], ('gh', 'st')

In [4]:
type(tuple_2)

tuple

In [5]:
tuple_3 = (123,)
type(tuple_3)

tuple

In [6]:
object_4 = (123)
type(object_4)

int

In [11]:
# 2. Deleting a tuple
del tuple_1

In [12]:
# NameError
tuple_1

NameError: name 'tuple_1' is not defined

In [13]:
# 3. TypeError when  object is assigned to a tuple
tup_1 = (1, 2, 3)

In [14]:
tup_1[0]

1

In [17]:
tup_1[0]=4

TypeError: 'tuple' object does not support item assignment

In [21]:
# 4-1. Tuple indexing, slicing
tup_2 = (1, 2, 3, 4, 5, 6, 7)
tup_2

(1, 2, 3, 4, 5, 6, 7)

In [22]:
tup_2[0] # indexing an integer

1

In [23]:
tup_2[0:1] # tuple slicing

(1,)

In [26]:
tup_2[0:3]

(1, 2, 3)

In [28]:
tup_2[3:]

(4, 5, 6, 7)

In [32]:
# 4-2. Tuple indexing, slicing with negative sign
tup_2[-1] # returns an integer

7

In [33]:
tup_2[-1:] # returns a tuple

(7,)

In [34]:
tup_2[-3:-1] # slicing

(5, 6)

In [35]:
tup_2[-3:]

(5, 6, 7)

In [40]:
# 5-1. Tuple packing
tup_packing = 'Mr.Lee', 25, 'Seoul', 'KOREA'
tup_packing

('Mr.Lee', 25, 'Seoul', 'KOREA')

In [39]:
type(tup_packing)

tuple

In [41]:
# 5-2. Tuple unpacking
name, age, city, nationality = tup_packing

In [43]:
name

'Mr.Lee'

In [44]:
age

25

In [45]:
city

'Seoul'

In [46]:
nationality

'KOREA'

In [48]:
# Value Error
name, age, city, nationality, gender = tup_packing

ValueError: not enough values to unpack (expected 5, got 4)

In [49]:
# Value Error
name, age, city = tup_packing

ValueError: too many values to unpack (expected 3)

In [51]:
# 6. Basic Tuple Operation
# length
len((1, 2, 3))

3

In [52]:
# concatenation
(1, 2, 3) + ('a', 'b', 'c')

(1, 2, 3, 'a', 'b', 'c')

In [54]:
a = (1, 2, 3)
b = ('a', 'b', 'c')
c= a + b

In [55]:
c

(1, 2, 3, 'a', 'b', 'c')

In [56]:
# repetition
('E(x)')*100

'E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)E(x)'

In [57]:
# membership
3 in (1, 2, 3)

True

In [58]:
4 in (1, 2, 3)

False

In [60]:
# iteration
for i in (1, 2, 3): # sequence
    print(i)

1
2
3

In [61]:
for i in [1, 2, 3]: # sequence
    print(i)

1
2
3

In [72]:
for i in ('abc',): # sequence
    print(i)

abc